<launch>
    <arg name="config_path" default = "$(find blaser_vins_config)/config/blaser_xsens_no_extr.yaml" />
    <arg name="vins_path" default = "$(find feature_tracker)/../" />
    <arg name="sensors" default="true" />

    <group if="$(arg sensors)">
        <include file="$(find xsens_mti_driver)/launch/xsens_mti_node.launch" />
        <include file="$(find blaser_pcl)/launch/start_blaser_1001_640x480.launch">
            <arg name="pcl_frame" value="camera"/>
        </include>
    </group>
    <group unless="$(arg sensors)">
        <node name="pointcloud_pub" pkg="blaser_pcl" type="blaser_pointcloud_pub_node" output="screen"
              args="--pcl_frame camera --calib $(find blaser_pcl)/config/calib_A1001_640x480.yaml"/>
    </group>
    
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="visualization_shift_x" type="int" value="0" />
        <param name="visualization_shift_y" type="int" value="0" />
        <param name="skip_cnt" type="int" value="0" />
        <param name="skip_dis" type="double" value="0" />
    </node>

</launch>
